*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Poppins;
}
.App {
  display:grid;
  gap:1rem;
  padding:1.5rem;
  width: 100vw;
  height: 100dvh; /*check once*/
}

.item{
  background-color: gold;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:2rem;
}

@media screen and (min-width: 768px) {
  
}